<div class="container mt-5">
  <div class="card my-3">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
      <p class="card-text">
        {{shortenBody body}}
      </p>
      <a href="./{{id}}" class="btn btn-primary">See More</a>
    </div>
    <div class="card-footer text-muted">
      Posted by
      {{user.username}}
      on
      {{formatDate createdAt}}
    </div>
  </div>
</div>